a{
    text-decoration: none;
}
.quadrado1 {
    width: 20px;
    height: 20px;
    background: #dc3545;

    margin-left: auto;
    margin-right: auto;
}
.quadrado2 {
    width: 20px;
    height: 20px;
    background: #198754;

    margin-left: auto;
    margin-right: auto;
}
.lugares{
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #2b3035;
    border-radius: 15px;
}